.DS_Store
.env
.env.*
!.env.example
.vscode/*
!.vscode/settings.json
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3
*.db
*.pid

node_modules/
.next/
out/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml
coverage/
build/

venv/
.envrc
.mypy_cache/
.pytest_cache/
.venv/
Pipfile
Pipfile.lock
*.egg-info/
dist/
*.spec

**/pgdata/
**/redisdata/
docker-compose.override.yml
docker-compose.local.yml

.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
.history/
.vscode-test/

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

.gitignore~